@using Microsoft.Extensions.Configuration;
@inject IConfiguration config
@model System.Int32

@{
    ViewBag.Title = "Index";
    Layout = "_Layout";
}

<body>
    @*<ul id="smth"></ul>*@
    <p id="smth"></p>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "@config["ApiHost"]/api/media",
                data: {
                    page: @Model
                },
                success: function (response) {
                    for (var i = 0; i < response.items.length; i++) {
                        //$("#smth").append("<li><a href='/gallery/picture?id=" + response.items[i].hash + "'>" + "<img src='@config["ApiHost"]/" + response.items[i].thumb + "'>" + "</a></li>");
                        $("#smth").append("<a href='/gallery/picture?id=" + response.items[i].hash + "'>" + "<img src='@config["ApiHost"]/" + response.items[i].thumb + "'>" + "</a>");
                    }
                }
            });
        });
    </script>
</body>
