@using Microsoft.Extensions.Configuration;
@inject IConfiguration config
@model System.Int32

@{
    ViewBag.Title = "Index";
    Layout = "_Layout";
}

<body>
    <p id="smth"></p>
    <center id="pages">
        
    </center>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "@config["ApiHost"]/api/media",
                data: {
                    page: @Model
                },
                success: function (response) {
                    for (var i = 0; i < response.items.length; i++) {
                        $("#smth").append("<a href='/gallery/picture?id=" + response.items[i].hash + "'>" + "<img src='@config["ApiHost"]/" + response.items[i].thumb + "'>" + "</a>");
                    }

                    if (response.prevPage) {
                        var currentPage = @Model;
                        var prevPage = @Model - 1;
                        $("#pages").append("<a href='/gallery?page=" + prevPage + "'>Previous</a>")
                    }

                    if (response.nextPage) {
                        var currentPage = @Model;
                        var nextPage = @Model + 1;
                        $("#pages").append("<a href='/gallery?page=" + nextPage + "'>Next</a>")
                    }
                }
            });
        });
    </script>
</body>
