@using Microsoft.Extensions.Configuration;
@inject IConfiguration config
@*@model System.Int32*@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <base href="/" />
</head>
<body>
    <form action="gallery/search" method="get">
        <input name="tags" id="tags-to-add" type="text" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <ul id="smth"></ul>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "@config["ApiHost"]/api/media",
                success: function (response) {
                    for (var i = 0; i < response.items.length; i++) {
                        $("#smth").append("<li><a href='/gallery/picture?id=" + response.items[i].hash + "'>" + "<img src='@config["ApiHost"]/" + response.items[i].thumb + "'>" + "</a></li>");
                    }
                }
            });
        });
    </script>
</body>
</html>
