@using Microsoft.Extensions.Configuration;
@inject IConfiguration config
@model System.String

@{
    ViewBag.Title = "Picture";
    Layout = "_Layout";
}

<body>
    <div id="base">
    </div>
    <ul id="tags"></ul>

    <form onsubmit="return false;" method="get">
        <div style="margin-top: 10px">
            <label for="tags">Add tag</label>
            <input name="tags" id="tags-to-add" type="text" />
        </div>
        <button type="submit" class="btn btn-primary" onclick="addTag()">Add Tags</button>
    </form>

    <form onsubmit="return false;" method="get">
        <button type="submit" class="btn btn-primary" onclick="remove()">Delete</button>
    </form>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: "@config["ApiHost"]/api/media/details",
                data: {
                    id: '@Model'
                },
                success: function (response) {
                    $("#base").append("<img src='@config["ApiHost"]/" + response.path + "' width=33%>");
                    makeList(response.tags);
                }
            });
        });


        function addTag() {
            $.ajax({
                url: "@config["ApiHost"]/api/media/addTags",
                method: "GET",
                data: {
                    id: '@Model',
                    tags: $("#tags-to-add").val()
                },
                success: function (response) {
                    makeList(response.items);
                    $("#tags-to-add").val("");
                },
                error: function (jqXHR) {
                    alert("Can't add tag: " + jQuery.parseJSON(jqXHR.responseText).value.bad_tag);
                }
            });
        }

        function remove() {
            $.ajax({
                url: "@config["ApiHost"]/api/media/remove",
                data: {
                    id: '@Model'
                },
                success: function () {
                    location.replace("gallery");
                }
            })
        }

        function makeList(responseItems) {
            if (responseItems == null)
                return;

            for (var i = 0; i < responseItems.length; i++) {
                $("#tags").append("<li><a href='/gallery/search?tags=" + responseItems[i].name + "'>" + responseItems[i].name + "</a></li>");
            }
        }
    </script>
</body>