@using Microsoft.Extensions.Configuration;
@inject IConfiguration config
@model (string id, int page)
@{
    ViewBag.Title = "Search";
    Layout = "_Layout";
}

<body>
    <ul id="smth"></ul>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "@config["ApiHost"]/api/media/byTag",
                method: "GET",
                data: {
                    tags: '@Model.id',
                    page: @Model.page
                },
                success: function (response) {
                    if (response.length == 0)
                        return;

                    for (var i = 0; i < response.items.length; i++) {
                            $("#smth").append("<li><a href='/gallery/picture?id=" + response.items[i].hash + "'>" + "<img src='@config["ApiHost"]/" + response.items[i].thumb + "'>" + "</a></li>");
                    }
                }
            })
        });
    </script>
</body>

