@using Microsoft.Extensions.Configuration;
@inject IConfiguration config
@model (string tags, int page, int reverse)
@{
    ViewBag.Title = "Search";
    Layout = "_Layout";
}
<div id="resultCount"></div>
<p id="smth"></p>
<center id="pages">
</center>
<script>
    window.onload += populateSearch('@config["ApiHost"]', '@Model.tags', @Model.page, @Model.reverse);
</script>