@using Microsoft.Extensions.Configuration;
@inject IConfiguration config
@{
    ViewBag.Title = "Upload";
    Layout = "_Layout";
}

<body>
    <form action="@config["ApiHost"]/api/media/upload" method="post" enctype="multipart/form-data">
        <div style="padding-top: 1em">
            <label for="file">Upload File</label>
            <input name="file" type="file" />
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
    <form action="@config["ApiHost"]/api/media/uploadfrom" method="get">
        <div style="margin-top: 10px">
            <label for="source">Url from web</label>
            <input name="source" type="text" />
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</body>