@using Microsoft.Extensions.Configuration;
@inject IConfiguration config
@{
    ViewBag.Title = "Home";
    Layout = "_Layout";
}
<div id="base">
    <div id="user-info">
    </div>
    <button onclick="signOff('@config["ApiHost"]')">Sign off</button>
    <div id="comms"></div>
    Your sessions:
</div>
<script>
    window.onload += getLoggedUserDetails('@config["ApiHost"]');
</script>
