@using Microsoft.Extensions.Configuration;
@inject IConfiguration config
@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}
<body onload="bindLogin('@config["ApiHost"]')">
<h1>Login</h1>
<form action="@config["ApiHost"]/api/user/signin" method="post" id="login-form">
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email" required><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br>
    <input type="submit" value="Submit">
</form>
</body>

<script>
    function bindLogin(apihost) {
        document.getElementById("login-form").addEventListener("submit", (e) => processLogin(e, apihost));
    }

    function processLogin(e, apihost) {
        e.preventDefault();
        var formData = new FormData(e.target);

        $.ajax({
            url: apihost + "/api/user/signin",
            method: "POST",
            type: "POST",
            cache: false,
            data: formData,
            processData: false,
            contentType: false,
            xhrFields: {
                withCredentials: true
            },
            success: function (response) {
                console.log(response);
                window.location = "/gallery";
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(`$first: ${jqXHR.responseText} second: ${textStatus} third: ${errorThrown}`);
            }
        });
    }
</script>
