@using Microsoft.Extensions.Configuration;
@inject IConfiguration config
@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<h1>Login</h1>

<form action="@config["ApiHost"]/api/user/signin" method="post" id="login-form">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br>
    <input type="submit" value="Submit">
</form>

<script>
    $(document).on("submit", "#login-form", function (e) {
            e.preventDefault();
            var formData = new FormData(this);

        //check the form and validate
        console.log(this.username.value);

            $.ajax({
                url: "@config["ApiHost"]/api/user/signin",
                method: "POST",
                type: "POST",
                cache: false,
                data: formData,
                processData: false,
                contentType: false,
                xhrFields: {
                    withCredentials: true
                },
                success: function (response) {
                    console.log(response);
                    window.location = "/gallery";
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(`$first: ${jqXHR.responseText} second: ${textStatus} third: ${errorThrown}`);
                }
            });
        });
</script>
