@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <ul id="smth"></ul>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "api/media",
                success: function (response) {
                    for (var i = 0; i < response.items.length; i++) {
                        //$("#smth").append("<li><a href='/api/media/details?id=" + response.items[i].hash + "'>" + response.items[i].name + "</a></li>");
                        $("#smth").append("<li><a href='/gallery/picture?id=" + response.items[i].hash + "'>" + response.items[i].name + "</a></li>");
                    }
                }
            });
        });
    </script>
</body>
</html>
